[user]
	name = Jordy Koppen
	email = 24296556+jordykoppen@users.noreply.github.com
	username = jordykoppen
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  editor = nvim
	attributesfile = ~/.gitattributes
[apply]
  whitespace = nowarn
[mergetool]
  keepBackup = true
[difftool]
  prompt = true
[help]
  autocorrect = 1
[push]
  default = simple
	autoSetupRemote = true
[pull]
	rebase = false
[init]
  defaultBranch = main
[hub]
	protocol = ssh
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
  	defaultKeyCommand = "op item get 'Personal SSH Key' --fields public_key"
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = true
